<div class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav" id="side-menu">
			<li>
				<a href="<%= systemConfig.prefixAdmin%>/dashboard">
					<i class="fa fa-dashboard fa-fw"></i> Dashboard
				</a>
			</li>


			<!-- <li>
				<a href="systemConfig.prefixAdmin/items/">
					<i class="fa fa-dashboard fa-fw"></i> CRUD
				</a>
			</li> -->
			<li>
				<a href="#">
					<i class="fa fa-dashboard fa-fw"></i> Lớp 1
				</a>
				<ul class="nav nav-treeview">
					<li>
						<a href="<%= systemConfig.prefixAdmin%>/category/" class="nav-link" data-active="index">
							<i class="fa fas fa-list-ul"></i> Môn học
						</a>
					</li>
					<li>
						<a href="<%= systemConfig.prefixAdmin%>/article/" class="nav-link" data-active="index">
							<i class="fa fas fa-list-ul"></i> Lý thuyết
						</a>
					</li>
					<li>
						<a href="<%= systemConfig.prefixAdmin%>/documents/" class="nav-link" data-active="index">
							<i class="fa fas fa-list-ul"></i> Bài giảng
						</a>
					</li>
					<!-- <li>
						<a href="systemConfig.prefixAdmin/items/" class="nav-link" data-active="form">
							<i class="fa fas fa-edit"></i> Items
						</a>
					</li> -->
				</ul>
			</li>
			<li>
				<a href="<%= systemConfig.prefixAdmin%>/contact/" class="nav-link" data-active="index">
					<i class="fa fa-dashboard fa-fw"></i> Quản lý liên hệ
				</a>
			</li>
			<li>
				<a href="#">
					<i class="fa fa-dashboard fa-fw"></i> Quản lý nhân viên
				</a>
				<ul class="nav nav-treeview">
					<li>
						<a href="<%= systemConfig.prefixAdmin%>/groups/" class="nav-link" data-active="index">
							<i class="fa fas fa-list-ul"></i> Nhóm phòng ban
						</a>
					</li>

					<li>
						<a href="<%= systemConfig.prefixAdmin%>/users/" class="nav-link" data-active="form">
							<i class="fa fas fa-edit"></i> Nhân viên
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="<%= systemConfig.prefixAdmin%>/auth/logout">
					<i class="fa fa-dashboard fa-fw"></i> Đăng xuất
				</a>
			</li>
		</ul>
		<!-- /#side-menu -->
	</div>
	<!-- /.sidebar-collapse -->
</div>