<% include ./../../helpers/filter-status %>
<% include ./../../helpers/action %>
<% include ./../../helpers/pagination %>
<% include ./../../helpers/status %>
<% include ./../../helpers/highlight %>
<% include ./../../helpers/source-by %>
<% include ./../../helpers/sort %>
<% 
	const linkPrefix = systemConfig.prefixAdmin + `/${controllerName}/`;
	const folderUpload = 'uploads/homework/'; 
%>

<% include ./../../elements/notify %>

<%if(params.a !== 'Member'){%>
<div class="card card-info card-outline">
	<div class="card-body">
		<!-- Control -->
		<form action="" method="post" class="table-responsive" id="zt-form">

			
			<!-- List Content -->
		
			<table class="table table-bordered table-hover text-nowrap btn-table mb-0">
				<thead>
					<tr>
						<th class="text-center">#</a></th>
						<%- sortHelpers(linkPrefix, 'Tên', 'name', params.sortField, params.sortType, 'width:20%') %>
						<%- sortHelpers(linkPrefix, 'Email', 'email', params.sortField, params.sortType, 'width:20%') %>
						<%- sortHelpers(linkPrefix, 'Số điện thoại', 'phone', params.sortField, params.sortType, 'width:20%') %>
						<%- sortHelpers(linkPrefix, 'Nội dung', 'content', params.sortField, params.sortType, 'width:20%') %>
						<%- sortHelpers(linkPrefix, 'Ngày nhận', 'created.time', params.sortField, params.sortType, 'width:20%') %>
						<th class="text-center title_col">Xoá</th>
					</tr>
				</thead>
				<tbody>
				<% items.forEach( (item, index) => { %>
					<tr>
						<td class="text-center"><%= index+1 %></td>
						<td class="text-center position-relative"><%= item.name %></td>
						<td class="text-center position-relative"><%= item.email %></td>
						<td class="text-center position-relative"><%= item.phone %></td>
						<td class="text-center position-relative">
							<%include ./../../helpers/document%>
							<%-documentHelper(folderUpload, item.content, item.name)%>
						</td>
						<td class="text-center position-relative"><%=moment(item.created.time).format(systemConfig.format_long_time)%></td>
						<td class="text-center">
							<a href="<%=linkPrefix%>form/<%=item.id%>" type="button"
								class="btn btn-warning btn-sm">Edit</a>
							<a href="<%=linkPrefix%>delete/<%=item.id%>" type="button"
								class="btn btn-danger btn-sm btn-delete">Xoá</a>
						</td>
					</tr>
				<% }) %>
				</tbody>
			</table>
		</form>
	</div>
	<div class="card-footer clearfix">
		<%- paginationHelpers(params.pagination, linkPrefix, params.currentStatus, params.keyword) %>
	</div>
</div>
<%} else {%>	
	<h1>Bạn không có quyền truy cập</h1>
</div>
<%}%>