

<% include ./../helpers/format-date %>
<%
    const folder_uploads = 'uploads/article/';
%>

<div class="col-lg-4">
    <div class="sidebars-area">
        <% if(typeof itemsRandom !== 'undefined') { %>
       
        <div class="single-sidebar-widget most-popular-widget">
            <h6 class="title">Bài viết ngẫu nhiên</h6>
            <% for(let i = 0; i < itemsRandom.length; i++){ %>
                <div class="single-list flex-row d-flex">
                    <div class="thumb">
                        <img class="img-fluid" src="<%= folder_uploads + itemsRandom[i].thumb %>" alt="<%= itemsRandom[i].name %>">
                    </div>
                    <div class="details">
                        <a href="/article/<%= itemsRandom[i]._id %>">
                            <h6><%= itemsRandom[i].name %></h6>
                        </a>
                        <ul class="meta">
                            <li>
                                <a href="#"><span class="lnr lnr-calendar-full"></span><%= formatDate(itemsRandom[i].created.time) %></a>
                            </li>
                        </ul>
                    </div>
                </div>
            <% } %>
        </div>
        <% } %>
        
        <div class="single-sidebar-widget social-network-widget">
            <h6 class="title">Liên kết</h6>
            <!-- <ul class="social-list">
                <li class="d-flex justify-content-between align-items-center fb">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftramxanhvn%2F&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </li>
            </ul> -->
            <div class="single-follow mb-45">
                <div class="single-box">
                    <div class="follow-us d-flex align-items-center">
                        <div class="follow-social">
                            <!-- <a href="<= contact.social.facebook %>"></a> -->
                            <img src="frontend/img/news/icon-fb.png" alt="">
                        </div>
                        <div class="follow-count">  
                            <span class="counter">8,045</span>
                            <p>Follower</p>
                        </div>
                    </div> 
                    <div class="follow-us d-flex align-items-center">
                        <div class="follow-social">
                            <!-- <a href="<= contact.social.twitter %>"></a> -->
                            <img src="frontend/img/news/icon-tw.png" alt="">
                        </div>
                        <div class="follow-count">
                            <span class="counter">8,045</span>
                            <p>Follower</p>
                        </div>
                    </div>
                        <div class="follow-us d-flex align-items-center">
                        <div class="follow-social">
                            <!-- <a href="<= contact.social.instagram %>"></a> -->
                            <img src="frontend/img/news/icon-ins.png" alt="">
                        </div>
                        <div class="follow-count">
                            <span class="counter">8,045</span>
                            <p>Follower</p>
                        </div>
                    </div>
                    <div class="follow-us d-flex align-items-center">
                        <div class="follow-social">
                            <!-- <a href="<= contact.social.youtube %>"></a> -->
                            <img src="frontend/img/news/icon-yo.png" alt="">
                        </div>
                        <div class="follow-count">
                            <span class="counter">8,045</span>
                            <p>Follower</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
